/* header style */

* {
    line-height: 1.5;
    scroll-behavior: smooth;
  }
  
  header {
    font-family: 'Bebas Neue', sans-serif;
    font-size: 35px;
    font-style: normal;
  }
  
  nav {
    width: 270px;
    height: 100vh;
    text-align: center;
    position: fixed;
    padding-top: 20px;
    left: 0;
    top: 0;
    overflow: auto;
    background-color: #fff;
  }
  
  nav a {
    text-decoration: none;
    color: black;
  
  }
  
  nav ul li {
    list-style-type: none;
    text-align: left;
    font-size: 1.9rem;
    font-family: 'Bebas Neue', sans-serif;
    padding-left: 10px;
  }
  
  nav ul {
    padding: 0px;
  }
  
  nav li {
    border-bottom: 1px solid;
    margin-bottom: 15px;
  }
  
  
  
  /* main style */
  
  #main-doc {
    background-color: #fff;
    margin: 20px;
    padding-left: 270px;
  
  }
  
  p:first-of-type {
    text-indent: 25px;
  }
  
  p {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  
  }
  
  #main-doc li {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }
  
  code {
    background-color: #dfdfdf;
    padding: 10px;
  }
  
  /* media query tablet */
  
  @media screen and (max-width: 786px) {
  
    nav {
      width: 40%;
    }
  
    #main-doc {
      width: 100%;
      margin-left: 50px;
      height: 100%;
      padding-left: 230px;
      padding-right: 15px;
  
    }
  }
  
  /* media query phone */
  
  @media screen and (max-width: 576px) {
    nav {
      width: 40%;
    }
  
    #main-doc {
      width: 100%;
      height: 100%;
      margin-left: 50px;
      padding-left: 230px;
      padding-right: 15px;
    }
  }
  
  /* media query scroll effect */
  @media (prefers-reduced-motion: no-reference) {
    * {
      scroll-behavior: smooth;
    }
  }